<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meu primeiro app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!--faz todo o front no ion content-->

  <ion-item>
    <ion-label position="floating">Digite com os pés</ion-label>
    <ion-input [(ngModel)]="n1" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Digite com a boca</ion-label>
    <ion-input [(ngModel)]="n2" type="number"></ion-input>
  </ion-item>

  <!--oq ta no comentario é outra forma de fzr (um por um)-->

  <ion-button expand="block" (click)="somar()">Somar</ion-button> <!--toda vez q der um clique chama esse metodoexibir msg-->
  <!-- <ion-input [readonly]="true" value={{res}}></ion-input> --> <!--o value esta mostrando a variavel-->

  <ion-button expand="block" (click)="subtrair()">Subtrair</ion-button> <!--dentro de aspas precisa ser o mesmo nome-->
  <!-- <ion-input [readonly]="true" value={{res2}}></ion-input> -->

  <ion-button expand="block" (click)="multiplicar()">Multiplicar</ion-button>
  <!-- <ion-input [readonly]="true" value={{res3}}></ion-input> -->

  <ion-button expand="block" (click)="divisao()">Dividir</ion-button>
  <!-- <ion-input [readonly]="true" value={{res4}}></ion-input> -->

  <ion-input [readonly]="true" value={{res}} value={{res2}} value={{res3}} value={{res4}}></ion-input> <!--da p ter mais de um value-->

</ion-content>
